* {
  box-sizing: border-box;
}

html {
  margin: 0;
  background-color: #fff3a8;
  font-family: system-ui, Roboto, Arial, sans-serif;
  font-size: 1.4em;
  line-height: 1.6;
  color: #242424;
}

.global-container {
  min-height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 3.125rem;
  margin-top: 10%;
}

.input-container {
  width: 400px;
  padding: 1em;
}

input {
  width: 100%;
}

.red {
  color: #ba0e51;
}

.green {
  color: #0b9713;
}

.description {
  font-size: 0.7rem;
}

button {
  border-radius: 5px;
  background-color: bisque;
  font-weight: 600;
  padding: 0.5rem 0.2rem;
  margin: 0.5rem 0;
  width: 100%;
}
